<app-header></app-header>
<br>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="row justify-content-md-center  mb-5">
                <div class="col col-md-8">
                    <h2 class="text-center font-weight-bold">
                        Lista de precios
                    </h2>
                    <p class="text-justify">La lista de precios se actualiza frecuentemente dependiendo de diferentes factores. La lista es un precio aproximado y puede variar un poco al dia de hoy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3">
          <div class="table-responsive">
            <table class="table">
              <caption>Precios actualizados 02/Agosto/2020</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Material</th>
                <th scope="col">Unidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Acero</td>
                <td>KG</td>
                <td>$ 12.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Cobre</td>
                <td>KG</td>
                <td>$ 20.00</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Aluminio</td>
                <td>KG</td>
                <td>$ 40.00</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bronce</td>
                <td>KG</td>
                <td>$14.00</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Fierro 1era</td>
                <td>KG</td>
                <td>$ 10.00</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Fierro 2da</td>
                <td>KG</td>
                <td>$ 8.00</td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
    </div>
</div>


<app-footer></app-footer>