<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-md-center  mb-5">
                <div class="col col-md-8">
                    <h2 class="text-center font-weight-bold">
                        Pricing
                    </h2>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, odit reprehenderit officia cupiditate deleniti possimus distinctio? Sapiente nam non.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-lg-3">
            <div class="card mb-3 text-center">
                <h4 class="card-header my-0 font-weight-normal">Free</h4>
                <div class="card-body">
                  <h1 class="card-title">$0 <span class="text-muted">/ mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col-8 col-lg-3">
            <div class="card bg-dark text-white mb-3 text-center">
                <h4 class="card-header my-0 font-weight-normal">JR</h4>
                <div class="card-body">
                  <h1 class="card-title">$20 <span class="text-muted">/ mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-8 col-lg-3">
            <div class="card bg-dark text-white mb-3 text-center">
                <h4 class="card-header my-0 font-weight-normal">Medium</h4>
                <div class="card-body">
                  <h1 class="card-title">$40 <span class="text-muted">/ mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-8 col-lg-3">
            <div class="card bg-dark text-white mb-3 text-center">
                <h4 class="card-header my-0 font-weight-normal">Senior</h4>
                <div class="card-body">
                  <h1 class="card-title">$60 <span class="text-muted">/ mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>