<footer class="footer bg-dark text-white mt-5 py-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-4">
                <div class="media text-muted pt-3">
                    <fa-icon class="fa-2x text-danger bd-placeholder-img mr-2 rounded" [icon]="faMapMarkedAlt" focusable="false" role="img"></fa-icon>
                    <p class="media-body p-1 mb-0 small">
                      <strong class="d-block text-gray-dark">Find us</strong>
                      1010 Avenue, NY 90001, USA
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="media text-muted pt-3">
                    <fa-icon class="fa-2x text-danger bd-placeholder-img mr-2 rounded" [icon]="faPhone" focusable="false" role="img"></fa-icon>
                    <p class="media-body p-1 mb-0 small">
                      <strong class="d-block text-gray-dark">Call us</strong>
                      55-44-33-22
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="media text-muted pt-3">
                    <fa-icon class="fa-2x text-danger bd-placeholder-img mr-2 rounded" [icon]="faEnvelope" focusable="false" role="img"></fa-icon>
                    <p class="media-body p-1 mb-0 small">
                      <strong class="d-block text-gray-dark">Mail us</strong>
                      tuempresa@tudominio.com
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-4">
                <h3>TU EMPRESA</h3>
                <p class="text-muted small">©2020 Tu Emp. All rights reserved.</p>
            </div>
            <div class="col-4">
                <h3>Páginas</h3>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/products">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/about">Acerca de </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/location">Ubicación</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/faqs">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" routerLink="/client">Portal de clientes </a>
                    </li>
                  </ul>
            </div>
            <div class="col-4">
                <h3>Redes sociales</h3>
                <fa-icon class="fa-2x mx-1 cw-cursor-pointer" [icon]="faFacebook"></fa-icon>
                <fa-icon class="fa-2x mx-1 cw-cursor-pointer" [icon]="faTwitter"></fa-icon>
                <fa-icon class="fa-2x mx-1 cw-cursor-pointer" [icon]="faInstagram"></fa-icon>
            </div>
        </div>
    </div>
</footer>