<app-client-header>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col col-lg-8">
                <div class="card mb-3">
                    <div class="card-body">
                      <h4 class="card-title text-center">Título de la publicación</h4>
                      <h5 class="card-subtitle text-muted">Subtítulo de la publicación</h5>
                      <p class="card-text text-justify my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aliquam! Rerum in suscipit ab, velit iure alias sunt quis laudantium sequi repudiandae commodi vel aliquid nesciunt nemo cupiditate vitae magni!</p>
                      <img src="assets/images/home/slide3.jpg" class="img-fluid" alt="publication">
                      <p class="card-text text-justify my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aliquam! Rerum in suscipit ab, velit iure alias sunt quis laudantium sequi repudiandae commodi vel aliquid nesciunt nemo cupiditate vitae magni!</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-client-header>