<app-header></app-header>
<br>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="row justify-content-md-center  mb-5">
                <div class="col col-md-8">
                    <h2 class="text-center font-weight-bold">
                        Preguntas frecuentes
                    </h2>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, odit reprehenderit officia cupiditate deleniti possimus distinctio? Sapiente nam non.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus debitis, porro corrupti nam quo cum asperiores commodi sapiente facilis illum odio aut excepturi ullam culpa dolorum temporibus possimus necessitatibus ea.</p>
            </div>
            <div class="mt-5">
                <h3>Lorem ipsum dolor sit voluptas debitis ad iusto culpa soluta asperiores? Eum, harum?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum velit dolore nihil accusantium commodi cumque temporibus impedit cupiditate! Voluptatem ratione nihil quis veniam debitis incidunt? Quas libero amet natus? Quis.</p>
            </div>
            <div class="mt-5">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing doloremque?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam! Necessitatibus, quis expedita molestiae cupiditate dolorem facilis obcaecati, nihil tempore ducimus vero ea repudiandae aperiam temporibus ratione similique distinctio eveniet?</p>
            </div>
            <div class="mt-5">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus debitis, porro corrupti nam quo cum asperiores commodi sapiente facilis illum odio aut excepturi ullam culpa dolorum temporibus possimus necessitatibus ea.</p>
            </div>
            <div class="mt-5">
                <h3>Lorem ipsum dolor sit voluptas debitis ad iusto culpa soluta asperiores? Eum, harum?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum velit dolore nihil accusantium commodi cumque temporibus impedit cupiditate! Voluptatem ratione nihil quis veniam debitis incidunt? Quas libero amet natus? Quis.</p>
            </div>
            <div class="mt-5">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing doloremque?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam! Necessitatibus, quis expedita molestiae cupiditate dolorem facilis obcaecati, nihil tempore ducimus vero ea repudiandae aperiam temporibus ratione similique distinctio eveniet?</p>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            ¿Le ha resultado útil esta información?
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-light mr-3">Sí</button>
            <button class="btn btn-light mr-3">No</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
