<app-header></app-header>
<div class="card bg-dark text-white cw-main-card">
    <img class="card-img" src="assets/images/home/main.jpg" alt="Bienvenidos">
    <div class="card-img-overlay d-flex">
      <h2 class="card-title align-self-center mx-auto text-center" >
        Compramos y vendemos materiales a <strong>precios justos</strong>
      </h2>  
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center  my-5">
        <div class="col col-md-8">
            <h2 class="text-center font-weight-bold">
                Nuestro trabajo
            </h2>
            <p class="text-center">Tenemos mas de 20 años de experiencia y la clave de nuestro éxito es poner a nuestros clientes primero.</p>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center  my-5">
        <div class="col col-md-8">
            <h2 class="text-center font-weight-bold">
                ¿Cómo funciona?
            </h2>
            <ol>
                <li>Nos contactas</li>
                <li>Cotizamos el material</li>
                <li>Cargamos y te pagamos en el momento</li>
            </ol>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-4 my-5">
            <div class="card">
                <img src="assets/images/home/mini.jpg" class="card-img-top" alt="dog">
                <div class="card-body">
                  <h5 class="card-title">Estamos en mejora continua</h5>
                  <p class="card-text">Seguimos trabajando para brindarte un mejor servicio, próximamente tendremos más y mejores servicios</p>
                </div>
              </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 col-md-3 text-center">
            <fa-icon class="fa-5x text-primary" [icon]="faUsers"></fa-icon>
            <h2>180</h2>
            <p>Clientes contentos</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <fa-icon class="fa-5x text-primary" [icon]="faBuilding"></fa-icon>
            <h2>15</h2>
            <p>Materiales disponibles</p>
        </div>
    </div>
</div>

<app-footer></app-footer>