<app-client-header>
    <div class="row">
        <div class="col">
            <mat-selection-list [multiple]="false">
                <h3 mat-subheader>Chats</h3>
                <mat-list-option mat-button (click)="goToConversation()">
                  <img matListAvatar src="assets/images/admin/chat-list/team.png" alt="Alejandra">
                  <h3 matLine> Grupo JR </h3>
                  <p matLine>
                    <span>Ana: ya esta disponible la </span>
                  </p>
                </mat-list-option>
              </mat-selection-list>
        </div>
    </div>
</app-client-header>
